.simbolomas{
					position:fixed;
					width:50px;
					bottom:3%;
					right:3%;
					
				}
				
				#b{
				
				background-color: #FFFF00;
				border-radius: 50px 50px 50px 50px;
				
				
				
				}